@font-face {
  font-family: Zekton;
  src: url("../static/zekton_rg.ttf");
}
body {
  font-family: Zekton;
}

.profile-loading {
  display: flex;
  max-width: 700px;
  background: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 60px;
  padding: 40px 20px;
}
.profile-loading .clock-anim {
  padding-bottom: 20px;
}


h4 {
  font-size: 30px;
  color: white !important;
  margin: 50px 50px !important;
  background: rgba(1,1,1,0.8) !important;
  padding : 30px 30px !important;
  border-radius: 15px;
}

p {
  color: white !important;
}

.profile-loading__texts {
 margin: 0px 0px !important;
  min-height: 150px !important;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

